<!DOCTYPE html>
<html>
<head>
    <title>Needel - A lightweight JSON data operation tool</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="//static.wdjimg.com/ajax/libs/jsoneditor/3.1.0/jsoneditor.min.css">
    <link rel="stylesheet" href="//static.wdjimg.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <%- body %>

    <script src="//static.wdjimg.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//static.wdjimg.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//static.wdjimg.com/ajax/libs/jsoneditor/3.1.0/jsoneditor.min.js"></script>
    <script src="//static.wdjimg.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="//static.wdjimg.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script>
    $(function () {
        var editFlag =

        _.templateSettings = {
            interpolate: /\{\{(.+?)\}\}/g
        };

        var itemTemplate = _.template($('#tmpl-item').html());

        var renderList = function () {
            $.ajax('/source').done(function (resp) {
                var fragment = document.createDocumentFragment();
                _.each(resp, function (source) {
                    fragment.appendChild($(itemTemplate(source))[0]);
                });

                $('.list-table-body').html(fragment);
            });
        };

        var editor = new JSONEditor(document.getElementById('jsoneditor-add'), {
            mode: 'code',
            modes: ['code', 'tree']
        }, {});

        var editor2 = new JSONEditor(document.getElementById('jsoneditor-edit'), {
            mode: 'code',
            modes: ['code', 'tree']
        }, {});

        $(document).on('click', '.btn-save', function () {
            var name = $('#add-name-input').val().trim();

            if (!name) {
                $('#add-name-input').focus();
            } else {
                $('#add-modal').modal('hide');

                $.ajax({
                    method: 'POST',
                    url: '/source',
                    data: {
                        name: name,
                        body: editor.getText()
                    },
                    success: function (res) {
                        $('#add-name-input').val('');
                        editor.setText('');
                        renderList();
                    },
                    error: function () {}
                });
            }
        });

        $(document).on('click', '.btn-update', function () {
            var name = $('#edit-name-input').val().trim();

            if (!name) {
                $('#edit-name-input').focus();
            } else {
                $('#edit-modal').modal('hide');

                $.ajax({
                    method: 'PUT',
                    url: '/source/' + $('#edit-id-input').val(),
                    data: {
                        name: name,
                        body: editor2.getText()
                    },
                    success: function (res) {
                        $('#edit-name-input').val('');
                        $('#edit-id-input').val('');
                        editor2.setText('');
                        renderList();
                    },
                    error: function () {}
                });
            }
        });

        $(document).on('click', '.btn-delete', function (evt) {
            $.ajax({
                url: '/source/' + $(evt.originalEvent.srcElement).data('id'),
                success: function (resp) {
                    var del = confirm('Confirm to delete ' + resp.name + '?');
                    if (del) {
                        $.ajax({
                            method: 'DELETE',
                            url: '/source/' + resp.id,
                            success: function () {
                                renderList();
                            }
                        });
                    }
                }
            });
        });

        $(document).on('click', '.btn-edit', function (evt) {
            $.ajax({
                url: '/source/' + $(evt.originalEvent.srcElement).data('id'),
                success: function (resp) {
                    $('#edit-name-input').val(resp.name);
                    $('#edit-id-input').val(resp.id);
                    editor2.setText(resp.body);

                    $('#edit-modal').modal('show');
                }
            });
        });

        renderList();
    });
    </script>
</body>
</html>
